@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Astrid Grotesk Regular";
    src: url("/fonts/astridgrotesk-regular.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}    

@font-face {
    font-family: "Astrid Grotesk Light";
    src: url("/fonts/astridgrotesk-light.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}    

html, body {
    min-height: 100%;
    height: auto;
}